{% extends "boat/base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h1 class="h5 mb-0">Рассылка {{ object.id }}</h1>
                </div>
                <div class="card-body">
                    <p><strong>Дата и время первой отправки:</strong> {{ object.first_send_time }}</p>
                    <p><strong>Переодичность:</strong> {{ object.get_periodicity_display }}</p>
                    <p><strong>Статус:</strong> {{ object.get_status_display }}</p>
                    <p><strong>Сообщение:</strong> {{ object.message.subject }}</p>
                    <p><strong>Клиент(ы):</strong></p>
                    <ul>
                        {% for client in object.clients.all %}
                            <li>{{ client.full_name }} ({{ client.email }})</li>
                        {% endfor %}
                    </ul>
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'boat:mailing-update' object.pk %}" class="btn btn-outline-primary">Изменить</a>
                        <a href="{% url 'boat:mailing-delete' object.pk %}" class="btn btn-outline-danger">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

